################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/oop-cars/.vs/oop-cars
/oop-cars/obj
